.pos-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60px 1fr;

    /* ROOT */
    background-color: var(--bg-primary);
}

/* SIDEBAR AREA */
.pos-sidebar {
    background-color: var(--bg-light);
    border-right: 1px solid var(--border-light);
}

/* CONTENT AREA */
.pos-content {
    background-color: var(--bg-light);
    color: var(--text-primary);
    padding: 20px;
}

/* PAGE TITLE */
.page-title {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
}
